In [19]:
import pandas as pd
import numpy as np

In [20]:
# 데이터 불러오기, 시계열데이터로 변환, 칼럼'time' 인덱스 설

df = pd.read_csv(r"C:\Users\joan\OneDrive\문서\donguri\비트코인 공모전\BIT_2023_1차.csv")
df.set_index('time', inplace=True)
df.index=pd.to_datetime(df.index)
df

,Open,High,Low,Close,Volume,returns,volatility,price,quote_qty,is_buyer_maker,quote_qty_cal
time,,,,,,,,,,,
2023-01-01 00:00:00,16537.5,16540.9,16504.0,16527.0,5381.399,NaN,NaN,16524.52574,7264.129209,16494,8.892507e+07
2023-01-01 01:00:00,16527.1,16554.3,16524.1,16550.4,3210.826,0.001416,NaN,16537.21599,6819.889969,8705,5.309812e+07
2023-01-01 02:00:00,16550.5,16557.1,16534.8,16542.4,2399.668,-0.000483,NaN,16545.81814,6030.420093,8468,3.970447e+07
2023-01-01 03:00:00,16542.5,16542.5,16515.0,16529.3,3214.480,-0.000792,NaN,16525.58208,7003.352799,10007,5.312115e+07
2023-01-01 04:00:00,16529.2,16530.4,16508.8,16517.8,3150.954,-0.000696,NaN,16518.28642,7378.899423,9476,5.204836e+07
...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,42701.7,42741.9,42624.7,42659.9,3944.096,-0.000977,0.003040,42679.29053,14458.392200,23305,1.683312e+08
2023-12-31 20:00:00,42659.9,42724.5,42543.3,42599.1,4730.936,-0.001425,0.002863,42625.85360,12326.119420,28014,2.016602e+08
2023-12-31 21:00:00,42599.2,42717.0,42558.2,42558.9,3794.010,-0.000944,0.002673,42634.52352,13367.479780,21732,1.617558e+08
2023-12-31 22:00:00,42559.0,42629.5,42111.9,42294.8,11952.346,-0.006206,0.003008,42405.77979,19111.648040,67159,5.068486e+08
2023-12-31 23:00:00,42294.8,42380.1,42083.1,42314.0,11676.465,0.000454,0.002975,42244.20465,16705.045390,58180,4.932630e+08

In [22]:
#볼린저 밴드 계산 함수
#파라미터 정의) window : 이동평균 계산 기준 일자, 20일로 설정(임의), num_std_dev : 표준편차 배수, 2로 설정(계산식 참고)
#참고) window = 20으로 첫 20개 행에서 'NaN' 값 출력됨. 해당 결측값 처리 방법 논의 필요 

def bollinger_bands(df, window=20, num_std_dev=2):
    
    # 이동평균 계산
    df['rolling_mean'] = df['price'].rolling(window=window).mean()

    # 표준편차 계산
    df['rolling_std'] = df['price'].rolling(window=window).std()

    # 볼린저 밴드 상단 및 하단 계산
    df['upper_band'] = df['rolling_mean'] + (num_std_dev * df['rolling_std'])
    df['lower_band'] = df['rolling_mean'] - (num_std_dev * df['rolling_std'])

    # 필요없는 컬럼 삭제
    df.drop(['rolling_mean', 'rolling_std'], axis=1, inplace=True)

    return df

# 볼린저 밴드 계산
df_bollinger_bands = bollinger_bands(df)
df_bollinger_bands

,Open,High,Low,Close,Volume,returns,volatility,price,quote_qty,is_buyer_maker,quote_qty_cal,upper_band,lower_band
time,,,,,,,,,,,,,
2023-01-01 00:00:00,16537.5,16540.9,16504.0,16527.0,5381.399,NaN,NaN,16524.52574,7264.129209,16494,8.892507e+07,NaN,NaN
2023-01-01 01:00:00,16527.1,16554.3,16524.1,16550.4,3210.826,0.001416,NaN,16537.21599,6819.889969,8705,5.309812e+07,NaN,NaN
2023-01-01 02:00:00,16550.5,16557.1,16534.8,16542.4,2399.668,-0.000483,NaN,16545.81814,6030.420093,8468,3.970447e+07,NaN,NaN
2023-01-01 03:00:00,16542.5,16542.5,16515.0,16529.3,3214.480,-0.000792,NaN,16525.58208,7003.352799,10007,5.312115e+07,NaN,NaN
2023-01-01 04:00:00,16529.2,16530.4,16508.8,16517.8,3150.954,-0.000696,NaN,16518.28642,7378.899423,9476,5.204836e+07,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,42701.7,42741.9,42624.7,42659.9,3944.096,-0.000977,0.003040,42679.29053,14458.392200,23305,1.683312e+08,42861.066492,42097.643000
2023-12-31 20:00:00,42659.9,42724.5,42543.3,42599.1,4730.936,-0.001425,0.002863,42625.85360,12326.119420,28014,2.016602e+08,42874.710039,42112.824254
2023-12-31 21:00:00,42599.2,42717.0,42558.2,42558.9,3794.010,-0.000944,0.002673,42634.52352,13367.479780,21732,1.617558e+08,42886.253673,42132.594182
2023-12-31 22:00:00,42559.0,42629.5,42111.9,42294.8,11952.346,-0.006206,0.003008,42405.77979,19111.648040,67159,5.068486e+08,42860.099640,42186.068015
2023-12-31 23:00:00,42294.8,42380.1,42083.1,42314.0,11676.465,0.000454,0.002975,42244.20465,16705.045390,58180,4.932630e+08,42841.754755,42215.347801

In [25]:
# 필요한 컬럼만 남기고 drop (세희님 코드에 맞춰서 추가했습니다.)

df_bollinger_bands.drop(['Open', 'High', 'Low', 'Close', 'Volume', 'returns', 'volatility',
       'price', 'quote_qty', 'is_buyer_maker', 'quote_qty_cal'], axis=1, inplace=True)
df_bollinger_bands

                       upper_band    lower_band
time
2023-01-01 00:00:00           NaN           NaN
2023-01-01 01:00:00           NaN           NaN
2023-01-01 02:00:00           NaN           NaN
2023-01-01 03:00:00           NaN           NaN
2023-01-01 04:00:00           NaN           NaN
...                           ...           ...
2023-12-31 19:00:00  42861.066492  42097.643000
2023-12-31 20:00:00  42874.710039  42112.824254
2023-12-31 21:00:00  42886.253673  42132.594182
2023-12-31 22:00:00  42860.099640  42186.068015
2023-12-31 23:00:00  42841.754755  42215.347801

[8760 rows x 2 columns]

In [26]:
#csv 파일로 내보내기
df_bollinger_bands.to_csv('BIT_2023_bollinger_bands.csv')